@charset 'utf-8';

@import 'settings';
@import 'mixins';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

html,
body {
    height: 100%;
    width: 100%;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  @include background-cover();
  background-position: center;
  background-image: url('../img/header.jpg');
  text-align: center;
  color: white;

  .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
  }
  @media (min-width: 768px) {
    min-height: 100%;
    .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
        .header-content-inner {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
    }
  }
}

footer {
  padding-top: 3rem;
}

h1, h2 {
  text-align: center;
  //color: #54585e;
}

.content, .functionalities {
  padding-top: 5rem;
  color: #54585e;
}

.top-pad {
  padding-top: 3rem;
}
